<!doctype html>

<html lang="en">

 <head>
  <meta charset="UTF-8">
  <title>그냥해봄</title>
 <style> 
 li{list-style:none;}
 body{background:#d6d6d6;}
 #wrap{width:900px;background:#fff; margin:10px auto;}

 #header{border-bottom:1px solid #c8c8c8;} 
 #header #nav {overflow:hidden;}
 #header #nav ul.out_menu{overflow:hidden;float:left;}
 #header #nav ul.out_menu > li {float:left; margin-right:15px;}
 #header #nav ul.out_menu > li:hover{background:#333; color:#fff;}
 #header #nav ul.inner_menu {display:none;}
 #header #nav #search{float:right;}

 #contents {overflow:hidden;} 
 #contents #section{float:left;width:650px;}
 #contents #aside {float:right;width:200px;}
 
 </style>

 
 
 </head>
 <body>
  <div id="wrap">  <!-- wrap 페이징 감싸다 --> 
   <!-- header -->
   <header id="header">
	 <h1>HTML5 Example preview</h1>
	 <h3>한빛아카데미</h3>
	 <nav id="nav">
	     <!-- menu -->
		<ul class="out_menu">
			<li> HTML5
			 <ul class="inner_menu">
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			 </ul>
		   </li> 
		   <li> CSS 
			<ul class=inner_menu>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			</ul>
		   </li>

 

 

		   <li> JavaScript 

			<ul class=inner_menu>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			  <li><a href="#"> 데이터 </a></li>
			</ul>
		   </li>
		 </ul>
	
	
	 <!-- search -->

     <div id="search">
		 <form name="" method="get">
			 <input type="text" name="" id="" value=""/>
			 <input type="submit" name="" id="" value="검색"/>
		 </form>
	 </div>
	</nav>
	</header>
  
   <!-- contents -->
   <div id="contents">
    <!-- 본문내용(section) -->
    <section id="section">
	 <article>
		 <h3>HTML5 개요와 활용</h3>
		 <p> 2013년 02월 14일 </p>
		 <img src="http://placehold.it/430x280" alt="430*280 비어있는 이미지"/> <!-- 이미지가 정해지지 않았을때 대신 넣는것 src 안에 링크 -->

		 <p> Flask(파이썬 플라스크) - 
            (app.py 다 만들고 난 뒤에 한것)
            ​
            기존 시스템에 영향을 주지 않고 flask서버를 하기 위해 하는 작업 중 하나
            ​
            vmware(가상머신) 우분투(리눅스)로 해본 예시)
            ​
            ① pip install pipenv --user (pipenv --user를 인스톨)
            ② pipenv --two (파이썬 2.x버전으로 하겠다는것을 지정)
            ③ pipenv install flask
            ④ pip shell(치고 난뒤 pip shell를 치고 접속(별도의 독립된 가상 환경)되면 설치된게 확인됨 그냥 치면 없다고 나옴)
            ⑤ git clone 주소(github nw주소) 치고 git에 있는걸가져옴(지금까지 학원에서 짠 nw폴더에있는 소스를 클론으로 가져옴)
            ​
            ⑥ run.bat을 run.sh로 변환후
              #!/bin/bash
              export FLASK_APP=app.py
              flask run --host=0.0.0.0으로 수정후
            ⑦ ./run.sh 하면 서버가 켜진다(퍼미션 디나이가 뜰경우 실행권한을 줘야하므로 chmod +x ./run.sh로 권한을 줌)
             
             웹서버를 역할을 해줌 아파치랑 nginx
            ⑧ sudo apt install nginx(웹서버 설치)
            ⑨ pipenv install gunicorn(주니콘) 설치후
            ⑩ pipenv shell에서 gunicorn app:app -b localhost:5000&(app.py에 app을 실행 -b 바인드 하겠다 로컬호스트 5천번을 &(백     그 라운드)로 실행하겠다)
            ​
            ○​ 백그라운드에서 실행되는지 확인 ○
               ps로 실행중인 프로세스 확인
              ★ kill -9 실행중인 프로세스pid ★ 를 입력하면 프로세스 강제종료
              curl http://localhost:5000을 치면 백그라운드에 실행중인 html이 나옴
             
            ⑪ sudo -i(루트 권한을 얻음)
            ⑫ vi /etc/nginx/sites-available/default
               location 부분에 try_files $url $url/ =404; 앞에 #을 붙여 처리하고
               아래에 proxy_pass http://127.0.0.1:5000;을 붙여줌으로서
               데이터가 들어왔을 때 위주소로 보낸다는 의미(?) - 정확하진않음
            ⑬ 위 과정을한 뒤에 service nginx restart(바로 쉘이 떨어져야함 아니면 오탈자확인)
            ​
              
             위 과정이 끝나면 내가 작성한 코드가 서버에서 작동하도록 변경 해준 것
             nginx와 gunicorn과 flask를 연동해서 수행 </p>

     </article>
   

     <article>

		<h3>HTML5 개요와 활용</h3>
		<img src="http://placehold.it/430x280" alt="no image"/> <!-- 이미지가 정해지지 않았을때 대신 넣는것 src 안에 링크 -->
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo justo ac lorem pretium vitae rhoncus lectus ullamcorper. Aliquam facilisis euismod diam sollicitudin commodo. Nunc sagittis sapien venenatis lorem vestibulum cursus pellentesque mi sodales. Donec pellentesque hendrerit turpis, vitae tempor nibh ultricies at. Aliquam consequat rutrum erat, vel sodales tellus sagittis at. Proin sollicitudin augue eu augue vehicula vitae bibendum odio porta. Aliquam elit arcu, venenatis in imperdiet ut, scelerisque non dolor. Donec in vulputate tortor. Fusce egestas rutrum mi quis ultricies. Vivamus blandit augue ac felis ullamcorper consectetur. Curabitur pretium fringilla neque, vitae cursus massa auctor vitae. Integer non massa sit amet lacus accumsan blandit. Vivamus fermentum tellus at justo iaculis eu tempus lorem venenatis. Suspendisse quis eros consectetur tellus posuere commodo. In hac habitasse platea dictumst.

		Praesent orci quam, ornare sed scelerisque ac, porta a justo. Pellentesque quis magna sed magna vehicula semper ac ut enim. Duis ut mattis ligula. Mauris at sem elit. Vestibulum justo tortor, malesuada non tincidunt quis, feugiat ut metus. Maecenas varius neque ut diam ultrices scelerisque. Praesent lectus massa, tincidunt vel adipiscing non, vehicula ut magna. Cras quis lacinia ipsum. Sed consequat consectetur volutpat. Integer sed tortor risus. Donec accumsan ante vel justo porttitor volutpat.
		</p>

		<p> proin uf fringilla sapien. </p>
	 </article>
    </section>
 

	 <!-- 카테고리 -->

    <aside id="aside">
		<h3>카테고리</h3>
		<ul>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
		</ul>

		<h3>카테고리</h3>
		<ul>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
			<li><a href="#">데이터</a></li>
		</ul>
    </aside>
   </div>
   <!--footer-->

   <footer id="footer">
	   <a href="#">Created By kimdoheon</a>
   </footer>
  </div>
 </body>
</html>