<!-- 주석다는 법 -->
<html>
    <title>
        <head>login</head>
    </title>  
    <body>
        <form method="post" action="login">
            <h1>welcome!</h1>
            <br/>
            id
            <input type="text" name="id" id="id"/>     
            <br/>
            pw
            <input type="password" name="pw"/>
            <br/>    
            <input type="submit" value="login"/>
            <a href="join">join</a>
            </input>
        </form>
    </body>
</html>         